<template>
  <div>
    <h1>{{ this.post.title }} || {{ this.post.age }}</h1>
    <div>{{ this.post.description }}</div>
    <div><img :src="this.post.img" height="200" width="200"></div>
<!--{{$route.params.id}}-->
  </div>
</template>

<script>
export default {
  layout:'bootstrap',
  data() {
    return {
    }
  },
  // middleware(){
  //   console.log('Middleware');
  // },
  //middleware:['auth'],
  validate({params}) {
    return (params.id != undefined && params.id > 0);
  },
  async asyncData({$axios, params}) {
    return {post: await $axios.get('https://surveybot.pp.ua/api/film/'+params.id) .then(res => {
        return res.data;
      })};
  },
}
</script>

<style scoped>

</style>
