<template>
<div>

  <nuxt-link class="p-2 text-dark" no-prefetch to="/created-post">Created post</nuxt-link>
<hr>
  Posts Lists
  <div v-for="film in this.films.data">
    <nuxt-link :id="film.id"  :to="'/posts/'+film.id">{{ film.title }} || {{ film .age}}</nuxt-link>
    <img :src="film.img" width="50" height="50">
    <button class="btn btn-danger" type="button" @click="removeFilm(film.id)">Delete</button>
  </div>
</div>
</template>
<script>
export default {
  layout:'bootstrap',
  data() {
    return {
    };
  },
  async asyncData({$axios, params}) {
     return {films: await $axios.get('https://surveybot.pp.ua/api/film').then(response => {
         return response.data;
       })};
  },
  mounted() {
    console.log(this.films);
  },
  methods: {
    async removeFilm(id) {
         await this.$axios.delete('https://surveybot.pp.ua/api/film/' + id).then(res => {return res.data})
    }
  }
}
</script>

<style scoped>

</style>
