<template>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
                        <span class="input-group-text">
                            <img src="https://cdn3.iconfinder.com/data/icons/social-media-toolkit-1/32/comment-speak-social-media-tools-ui-512.png" width="16" alt="">
                        </span>
          </div>
          <input class="form-control" v-model="title" placeholder="Title">
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="number" v-model="age"  class="form-control" placeholder="Age">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" v-model="description"  class="form-control" placeholder="Description">
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" v-model="img"  class="form-control" placeholder="img url">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-append">
            <button class="btn btn-success" type="button" @click="addFilm()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//import axios from 'axios';
export default {
  layout:'bootstrap',
  data() {
    return {
      age: '',
      title: '',
      description: '',
      img: '',
    }
  },
  methods: {
    async addFilm() {
      const data = {
        'title' : this.title,
        'description':this.description,
        'age': this.age,
        'img': this.img,
      }
      await this.$axios.post('https://surveybot.pp.ua/api/film', data)
        .then(response => {return response.data});
        this.title = '';
        this.description = '';
        this.age = '';
        this.img = '';
    }
  }
}
</script>
